.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 150px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    color: rgb(27, 108, 155);
}

