.copyright {
    background-color: rgb(26, 26, 26);
    padding: 1rem 1rem;
    font-family: "Dancing Script", cursive;
    /*Importando a font */
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}