@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Zen+Old+Mincho&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background: linear-gradient(to left,#204f7a, #AD1B95);
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    padding: 25px;
}

.header_main{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.introducao{
    max-width: 500px;
    text-align: justify;
}

.introducao h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.introducao p{
    color: rgb(255, 255, 255);
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imagem img{
    max-width: 700px;
}


.redes_sociais{
    display: flex;
    padding: 0 !important;
    margin-top: 0.8rem;
}

.redes_sociais ol{
    padding: 0 !important;
}

.redes_sociais ol a img{
    max-width: 40px;
    
}