@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Zen+Old+Mincho&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 1200px;
}

header{
    background: linear-gradient(to left, #8e44ad, #3498db);


}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    padding: 25px;
}

.header_main{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.introducao{
    max-width: 500px;
    text-align: justify;
}

.introducao h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.introducao p{
    color: rgb(255, 255, 255);
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.imagem img{
    max-width: 700px;
}


.redes_sociais{
    display: flex;
    padding: 0 !important;
    margin-top: 0.8rem;
}

.redes_sociais ol{
    padding: 0 !important;
}

.redes_sociais ol a img{
    max-width: 40px;
    
}


.experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: #ffffff;
    color: #333;
    gap: 2rem;
}

.experiencia h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.experiencia p {
    font-size: 1.2em;
    line-height: 1.6;
}

.experiencia-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
}

.experiencia-item h3 {
    font-size: 1.8em;
    margin-bottom: 0.5rem;
}

.experiencia-item .periodo {
    font-size: 1em;
    color: #777;
    margin-bottom: 1rem;
}

.experiencia-item ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.experiencia-item ul li {
    margin-bottom: 0.5rem;
}

.cards_atividades{
    background: linear-gradient(to left, #8e44ad, #3498db);
    padding: 8rem;
}